<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Bandera</th>
      <th>Nombre</th>
      <th>Población</th>
      <th></th>
    </tr>

    <tr
      *ngFor="let country of countries; let i = index"
      class="animate__animated animate__fadeIn"
    >
      <td>{{ i + 1 }}</td>
      <td>
        <img [src]="country.flag" [alt]="country.name" class="small-flag" />
      </td>
      <td>{{ country.capital }}, {{ country.name }}</td>
      <td>{{ country.population | number }}</td>
      <td>
        <a
          [routerLink]="['/pais', country.alpha2Code]"
          routerLinkActive="router-link-active"
          >Ver mas</a
        >
      </td>
    </tr>
  </thead>
</table>
